body{
    background-color: rgb(132, 166, 206);
}
h1{
    color: rgb(138, 18, 18);
}
h2{
    color: rgb(16, 82, 0);
}
.viatge{
    font-family: Arial, Helvetica, sans-serif;
    color: #150101;
}
.caixa{
    background-color: #399bb1;
    color: #984288;
    border: 5px solid; ;
    height: 300px;
    padding: 50px 20px 0px 20px;
    margin: 20px 20px;
    display: inline-block;
}

    
